@charset "UTF-8"

;* {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
}

html {
        height: 100%;
}


main {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 7px 7px 700px #242b2ab0;
    width: 410px;
    padding: 10px;
    margin: auto; 
}

body {
    background-image: linear-gradient(to bottom, #BFBFBF, #4C5958);
    
    margin: auto;
}

h1 {
    color: rgba(4, 155, 4, 0.712);
    text-align: center;
}

p {
    text-align: center;
}